.git
.gitignore
.next
.next.*
**/.next
.tmp
.tmp-chrome-profile
.vercel
node_modules
**/node_modules
tmp
**/*.tsbuildinfo
npm-debug.log*
.env
.env.local
.env.*.local
proposal-assets
proposal-assets-sgb.zip
