APP_ENV=dev

LIVE_QUOTE_SOCKET_URL=
NEXT_PUBLIC_LIVE_QUOTE_SOCKET_URL=

NEXT_PUBLIC_FRAMER_IMAGE_BASE_URL=
NEWS_API_URL=
NEWS_API_TOKEN=
NEWS_PORTAL_BASE_URL=
BANNER_API_URL=
BANNER_IMAGE_BASE_URL=
PENGUMUMAN_API_URL=http://sg-admin.test/api/pengumuman
CONTACT_MESSAGE_API_URL=http://sg-admin.test/api/massages
HISTORICAL_DATA_API_URL=
HISTORICAL_DATA_API_TOKEN=
ECONOMIC_CALENDAR_API_BASE_URL=

NEXT_PUBLIC_PLACEHODER_BASE_URL=

NEXT_PUBLIC_LOGIN_URL=
NEXT_PUBLIC_REGISTER_URL=
NEXT_PUBLIC_HERO_CTA_URL=
NEXT_PUBLIC_SPREAD_CTA_URL=
