APP_ENV=dev
INTERNAL_API_TOKEN=

LIVE_QUOTE_SOCKET_URL=
NEXT_PUBLIC_LIVE_QUOTE_SOCKET_URL=

NEXT_PUBLIC_FRAMER_IMAGE_BASE_URL=
NEWS_API_URL=
NEWS_API_TOKEN=
NEWS_PORTAL_BASE_URL=
PRODUCT_API_URL=
PRODUCT_PORTAL_BASE_URL=
BANNER_API_URL=
BANNER_DETAIL_API_URL=
BANNER_IMAGE_BASE_URL=
PENGHARGAAN_API_URL=
PENGHARGAAN_IMAGE_BASE_URL=
PENGUMUMAN_API_URL=
CONTACT_MESSAGE_API_URL=
COMPANY_PROFILE_API_URL=
LEGALITAS_API_URL=
PRIVACY_POLICY_API_URL=
TERMS_CONDITIONS_API_URL=
HISTORICAL_DATA_API_URL=
HISTORICAL_DATA_API_TOKEN=
ECONOMIC_CALENDAR_API_BASE_URL=
FRANKFURTER_API_URL=

NEXT_PUBLIC_PLACEHODER_BASE_URL=

NEXT_PUBLIC_LOGIN_URL=
NEXT_PUBLIC_REGISTER_URL=
NEXT_PUBLIC_HERO_CTA_URL=
NEXT_PUBLIC_SPREAD_CTA_URL=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
