ENV_FILE=.env
APP_ENV=dev
INTERNAL_API_TOKEN=
CLIENT_AREA_SESSION_SECRET=

LIVE_QUOTE_SOCKET_URL=
NEXT_PUBLIC_LIVE_QUOTE_SOCKET_URL=

NEXT_PUBLIC_FRAMER_IMAGE_BASE_URL=
NEWS_API_URL=https://endpoapi-production-3202.up.railway.app/api/news
NEWS_API_URL_ID=https://endpoapi-production-3202.up.railway.app/api/news-id
NEWS_API_TOKEN=
NEWS_PORTAL_BASE_URL=
NEWS_IMAGE_BASE_URL=
PRODUCT_API_URL=
EBOOK_CATEGORY_API_URL=
PRODUCT_PORTAL_BASE_URL=
SG_ADMIN_API_KEY=
SG_ADMIN_REQUEST_ORIGIN=http://localhost:3000
CLIENT_AREA_CONFIG_API_URL=
CLIENT_AREA_CONFIG_API_TOKEN=
BANNER_API_URL=
BANNER_DETAIL_API_URL=
BANNER_IMAGE_BASE_URL=
PENGHARGAAN_API_URL=
PENGHARGAAN_IMAGE_BASE_URL=
PENGUMUMAN_API_URL=
CONTACT_MESSAGE_API_URL=
COMPANY_PROFILE_API_URL=
LEGALITAS_API_URL=
PRIVACY_POLICY_API_URL=
TERMS_CONDITIONS_API_URL=
HISTORICAL_DATA_API_URL=
HISTORICAL_DATA_API_TOKEN=
ECONOMIC_CALENDAR_API_BASE_URL=
ECONOMIC_CALENDAR_API_TOKEN=
MARKET_ACADEMY_API_URL=https://endpoapi-production-3202.up.railway.app/api/market-academy
TRADINGVIEW_SYMBOL_API_URL=
MARKET_SIGNAL_API_URL=
MARKET_SIGNAL_IMAGE_BASE_URL=
FRANKFURTER_API_URL=

NEXT_PUBLIC_PLACEHODER_BASE_URL=

NEXT_PUBLIC_LOGIN_URL=
NEXT_PUBLIC_REGISTER_URL=
NEXT_PUBLIC_ENABLE_CLIENT_AREA=false
NEXT_PUBLIC_ENABLE_TAWK_CHAT=false
NEXT_PUBLIC_HERO_CTA_URL=
NEXT_PUBLIC_SPREAD_CTA_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SOLID_GOLD_PLAY_STORE_URL=
NEXT_PUBLIC_SOLID_GOLD_APP_STORE_URL=
NEXT_PUBLIC_SOLID_GOLD_IMAGE_BASE_URL=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_ALLOWED_ORIGINS=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
DEPLOYMENT_VERSION=

APP_PORT=3000
