APP_ENV=dev
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CLIENT_SITE_URL=http://localhost:3009
NEXT_PUBLIC_ENABLE_CLIENT_AREA=true
NEXT_PUBLIC_ENABLE_TAWK_CHAT=false
NEXT_ALLOWED_ORIGINS=localhost:3000

# Tambahkan konfigurasi API konten publik dari template root sesuai kebutuhan.
